/HZH_Controls/*.suo
/HZH_Controls/HZH_Controls/obj
/HZH_Controls/HZH_Controls/bin
/HZH_Controls/Test/obj
/HZH_Controls/Test/bin
/HZH_Controls/HZH_Controls/*.user
/HZH_Controls/HZH_Controls/*.nupkg
/HZH_Controls/Help
/HZH_Controls/HZH_Controls.sln.GhostDoc.xml
